<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Simple weather page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
  <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


  <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ url_for('static', filename='css/MonthPicker.css') }}" rel="stylesheet" type="text/css"/>
  <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}">&lt;</script>
  <script src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/MonthPicker.js') }}"></script>


</head>
<body>
<div class="container">
  {% include 'navigation.html' %}
  {% include 'messages.html' %}

  {% block content %}
  {% endblock %}
  {% block js %}
  {% endblock %}
</div>
</body>
</html>