{% extends 'base.html' %}

{% block content %}
  <div class="form-group">
    <label for="sel1">Select month:</label>
    <input id="month" type="month">
  </div>
  <div id="graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
  <script src="{{ url_for('static', filename='js/exporting.js') }}"></script>

  <script>
      var input = $('#month');
      input.MonthPicker(
          {
              OnAfterMenuClose: function () {
                  getData(input.val());
              }
          }
      ).css('backgroundColor', 'lightyellow');

      function getData(data) {
          var date = data.split('-');
          var year = date[0];
          var month = date[1];
          $.ajax({
              url: '/',
              data: {
                  "year": year,
                  "month": month
              },
              type: 'POST',
              success: function (response) {
                  console.log(response)
                  if (response.length) {
                      rewriteGraph(response);
                  }
                  else {
                      $('#graph').text('There is no data for this month.')
                  }
              },
              error: function (error) {
                  console.log(error);
              }
          });
      }

      function rewriteGraph(data) {
          var dates = [];
          var temperatures = [];
          data.map(function (item) {
              dates.push(item.date);
              temperatures.push(item.temperature);
          });
          Highcharts.chart('graph', {
              chart: {
                  type: 'line'
              },
              title: {
                  text: 'Monthly Average Temperature'
              },
              xAxis: {
                  categories: dates
              },
              yAxis: {
                  title: {
                      text: 'Temperature (°C)'
                  }
              },
              plotOptions: {
                  line: {
                      dataLabels: {
                          enabled: true
                      },
                      enableMouseTracking: false
                  }
              },
              series: [{
                  name: 'Ukraine',
                  data: temperatures
              }]
          });
      }


  </script>
{% endblock %}